apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: jellyfin
      version: 21.12.9
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  timeout: 20m
  values:
    portal:
      open:
        enabled: false
    global:
      stopAll: false
    credentials:
      minio:
        type: s3
        url: "http://${S3_URL}"
        bucket: "${S3_BUCKET}-jellyfin"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-1-le-prod
        hosts:
          - host: jellyfin.${DOMAIN_1}
    resources:
      limits:
        cpu: 4000m
        memory: 8Gi
    persistence:
      config:
        volsync:
        - name: config
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 30 0 * * *
      data:
        enabled: true
        mountPath: "/data"
        volsync:
        - name: data
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 30 0 * * *
      logs:
        enabled: true
        mountPath: "/logs"
        type: "emptyDir"
      media:
        enabled: true
        existingClaim: media-nfs-pvc
        mountPath: /Media
    image:
      repository: oci.trueforge.org/containerforge/jellyfin
      pullPolicy: IfNotPresent
      tag: 10.11.3@sha256:3d703e500983426486fc479362d7e9211f9fc2b9eb360f05464d5ba4f189e514
    workload:
      main:
        podSpec:
          containers:
            main:
              probes:
                readiness:
                  enabled: false
                liveness:
                  enabled: false
                startup:
                  enabled: false
              command:
              - /bin/sh
              - -c
              - "tail -f /dev/null"
              env:
                JELLYFIN_DATA_DIR: /data
                JELLYFIN_CONFIG_DIR: /config
                JELLYFIN_LOG_DIR: /logs
                JELLYFIN_CACHE_DIR: /cache
              resources:
                limits:
                  gpu.intel.com/i915: 1
    autodiscovery:
      enabled: true
