---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: actions-runners-truecharts
  namespace: gha-truecharts
spec:
  interval: 15m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.13.1
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: enabled
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    minRunners: 2
    maxRunners: 6
    githubConfigSecret: runner-secret
    githubConfigUrl: https://github.com/trueforge-org
    controllerServiceAccount:
      name: actions-runner-controller
      namespace: gha-truecharts
    containerMode:
      type: kubernetes
      kubernetesModeWorkVolumeClaim:
        accessModes:
          - ReadWriteOnce
        storageClassName: openebs-hostpath
        resources:
          requests:
            storage: 32Gi
    template:
      spec:
        containers:
          - name: runner
            image: oci.trueforge.org/containerforge/actions-runner:2.331.0@sha256:d1c7a855327ec5f0e8bc047d18e46822e87df352699e81c1c7e09892b6fb9a1c
            command:
              - /home/runner/run.sh
            env:
              - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                value: "false"
