---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: actions-runners
  namespace: gha
spec:
  interval: 15m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.13.1
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: enabled
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    minRunners: 3
    maxRunners: 6
    githubConfigSecret: runner-secret
    githubConfigUrl: https://github.com/alfi0812/talos
    controllerServiceAccount:
      name: actions-runner-controller
      namespace: gha
    containerMode:
      type: kubernetes
    template:
      spec:
        volumes:
          - name: work
            emptyDir: {}
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.331.0@sha256:17e4be4e4664067b9a5f2e43d0e66e0a249654f3783a0a3f17448844a5422be5
            command:
              - /home/runner/run.sh
            env:
              - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                value: "false"
            volumeMounts:
              - name: work
                mountPath: /home/runner/_work
