apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kromgo
  namespace: kromgo
spec:
  interval: 5m
  chart:
    spec:
      chart: kromgo
      version: 1.0.12
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: kromgo.${DOMAIN_0}
    kromgo:
      badge:
        font: Verdana.ttf  # Relative to /kromgo - Verdana.ttf is available in the container
        size: 12
      metrics:
        - name: talos_version
          query: label_replace(node_os_info{name="Talos"}, "version_id", "$1", "version_id", "v(.+)")
          label: version_id
          title: Talos

        - name: kubernetes_version
          query: label_replace(kubernetes_build_info{service="kubernetes"}, "git_version", "$1", "git_version", "v(.+)")
          label: git_version
          title: Kubernetes

        - name: flux_version
          query: label_replace(gotk_resource_info{exported_namespace="flux-system",name="flux",customresource_kind="Kustomization"}, "revision", "$1", "revision", "v(.+)@sha256:.+")
          label: revision
          title: Flux

        - name: truenas_version
          query: truenas_info
          label: version
          title: Truenas

        - name: cluster_node_count
          query: count(count by (node) (kube_node_status_condition{condition="Ready"}))
          colors:
            - { color: "green", min: 0, max: 9999 }
          title: Nodes

        - name: cluster_pod_count
          query: sum(kube_pod_status_phase{phase="Running"})
          colors:
            - { color: "green", min: 0, max: 9999 }
          title: Pods

        - name: cluster_cpu_usage
          query: round(avg(instance:node_cpu_utilisation:rate5m{pod!=""}) * 100, 0.1)
          suffix: "%"
          colors:
            - { color: "green", min: 0, max: 35 }
            - { color: "orange", min: 36, max: 75 }
            - { color: "red", min: 76, max: 9999 }
          title: CPU

        - name: cluster_memory_usage
          query: round(sum(node_memory_MemTotal_bytes{pod!=""} - node_memory_MemAvailable_bytes{pod!=""}) / sum(node_memory_MemTotal_bytes{pod!=""}) * 100, 0.1)
          suffix: "%"
          colors:
            - { color: green, min: 0, max: 35 }
            - { color: orange, min: 36, max: 75 }
            - { color: red, min: 76, max: 9999 }
          title: Memory

        - name: cluster_power_usage
          query: round(upsHighPrecOutputLoad, 0.1)
          suffix: "w"
          colors:
            - { color: "green", min: 0, max: 400 }
            - { color: "orange", min: 401, max: 750 }
            - { color: "red", min: 751, max: 9999 }
          title: Power

        - name: cluster_age_days
          query: round((time() - min(kube_node_created) ) / 86400)
          suffix: "d"
          colors:
            - { color: "green", min: 0, max: 180 }
            - { color: "orange", min: 181, max: 360 }
            - { color: "red", min: 361, max: 9999 }
          title: Age

        - name: cluster_uptime_days
          query: round(avg(node_time_seconds{pod!=""} - node_boot_time_seconds{pod!=""}) / 86400)
          suffix: "d"
          colors:
            - { color: "green", min: 0, max: 180 }
            - { color: "orange", min: 181, max: 360 }
            - { color: "red", min: 361, max: 9999 }
          title: Uptime

        - name: cluster_alert_count
          query: alertmanager_alerts{state="active"} - 1 # Ignore Watchdog
          colors:
            - { color: "green", min: 0, max: 0 }
            - { color: "red", min: 1, max: 9999 }
          title: Alerts