apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tdarr
  namespace: media
spec:
  interval: 10m
  chart:
    spec:
      chart: tdarr
      version: 12.26.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  timeout: 20m
  values:
    portal:
      open:
        enabled: false
    global:
      stopAll: false
    exporterImage:
      repository: docker.io/homeylab/tdarr-exporter
      pullPolicy: IfNotPresent
      tag: 1.4.3@sha256:88254cb505bfff20e86e04fa23a71789a411e7939e3bcbccbd5ef397ff91d052
    credentials:
      minio:
        type: s3
        url: "http://${S3_URL}"
        bucket: "${S3_BUCKET}-tdarr"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "auth.${DOMAIN_1}"
          certManager:
            enabled: true
            certificateIssuer: domain-1-le-prod
        hosts:
          - host: tdarr.${DOMAIN_1}
    persistence:
      configs:
        volsync:
        - name: config
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 50 0 * * *
      media:
        enabled: true
        existingClaim: media-nfs-pvc
      transcode-cache:
        enabled: false
    service:
      metrics:
        enabled: "{{ .Values.metrics.main.enabled }}"
        ports:
          metrics:
            enabled: true
            port: 9090
    workload:
      main:
        podSpec:
          containers:
            exportarr:
              enabled: "{{ .Values.metrics.main.enabled }}"
              imageSelector: exporterImage
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              env:
                TDARR_URL: "http://tdarr.media.svc.cluster.local:8265"
    metrics:
      main:
        enabled: true
        endpoints:
          - port: metrics
            path: /metrics
        targetSelector: metrics      
    resources:
      limits:
        cpu: 4000m
        memory: 8Gi
        gpu.intel.com/i915: 1
