apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: exporter-fritz
  namespace: exporter-fritz
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 15.29.58
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    image:
      repository: docker.io/pdreker/fritz_exporter
      pullPolicy: IfNotPresent
      tag: 2.6.1@sha256:a6b182eb3bc94c7dd37eb2ded8bbb6653861615f4c1e4a906fee679f9f605ce3
    service:
      main:
        ports:
          main:
            port: 9787
            targetPort: 9787
    workload:
      main:
        podSpec:
          containers:
            main:
              extraArgs:
              - --config=/exporter/config.yaml
    configmap:
      exporter-configfile:
        enabled: true
        data:
          config.yaml: |
            {{- $.Values.exporter | toYaml | nindent 2 }}
    persistence:
      configfile:
        enabled: true
        type: configmap
        readOnly: true
        objectName: exporter-configfile
        mountPath: /exporter/config.yaml
        subPath: config.yaml
    exporter:
      exporter_port: 9787
      devices:
      - name: Fritz!Box 7590 Router
        hostname: '${FRITZBOX_IP}'
        username: '${FRITZ_USER}'
        password: '${FRITZ_PASSWORD}'
      - name: Fritz!Box 7590 Repeater
        hostname: '${REPEATER_IP}'
        username: '${FRITZ_USER}'
        password: '${FRITZ_PASSWORD}'
      - name: Fritz!Box 6690 Cable
        hostname: '${CONFIG_ULM_IP}'
        username: '${FRITZ_USER}'
        password: '${FRITZ_PASSWORD}'
    metrics:
      main:
        enabled: true
        type: servicemonitor
        endpoints:
          - port: main
            path: /metrics
            interval: 1m
            scrapeTimeout: 15s
        targetSelector: main




