apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: node-exporter
  namespace: kube-prometheus-stack
spec:
  groups:
  - name: node-exporter.rules
    rules:

    # TrueNAS → 98%
    - alert: NodeMemoryHighUtilization
      expr: |
        100 - (
          node_memory_MemAvailable_bytes{job="node-exporter", instance="192.168.1.50:9100"}
          / node_memory_MemTotal_bytes{job="node-exporter", instance="192.168.1.50:9100"}
          * 100
        ) > 98
      for: 15m
      labels:
        severity: warning
      annotations:
        summary: Host is running out of memory (TrueNAS)
        description: |
          TrueNAS uses RAM aggressively as ZFS ARC cache.
          Memory usage > 98% on {{ $labels.instance }}.

    # Alle andere nodes → 90%
    - alert: NodeMemoryHighUtilization
      expr: |
        100 - (
          node_memory_MemAvailable_bytes{job="node-exporter", instance!="192.168.1.50:9100"}
          / node_memory_MemTotal_bytes{job="node-exporter", instance!="192.168.1.50:9100"}
          * 100
        ) > 90
      for: 15m
      labels:
        severity: warning
      annotations:
        summary: Host is running out of memory.
        description: |
          Memory is filling up at {{ $labels.instance }}, has been above 90% for the last 15 minutes, is currently at {{ printf "%.2f" $value }}%.
