apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hytale
  namespace: hytale
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 15.29.65
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    image:
      # repository: oci.trueforge.org/containerforge/hytale
      repository: ghcr.io/trueforge-org/hytale
      tag: 1.0.0
      pullPolicy: Always
    workload:
      main:
        podSpec:
          containers:
            main:
              stdin: true
              tty: true
              env:
                HYTALE_AUTO_UPDATE: true
                HYTALE_PORT: "{{ .Values.service.main.ports.main.port }}"
                HYTALE_ALLOW_OP: true
                HYTALE_BACKUP_ENALBED: false
                HYTALE_BACKUP_DIR: /app/backup
                HYTALE_BACKUP_FREQ: 30
                # HYTALE_EXTRA_ARGS:
                # HYTALE_JAVA_ARGS:
    service:
      main:
        externalTrafficPolicy: Local
        loadBalancerIP: ${HYTALE_SERVER_IP}
        type: LoadBalancer
        ports:
          main:
            port: 5520
            protocol: udp

    persistence:
      app:
        enabled: true
        mountPath: /app