apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hytale
  namespace: hytale
spec:
  interval: 5m
  chart:
    spec:
      chart: hytale
      version: 1.1.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    workload:
      main:
        podSpec:
          containers:
            main:
              stdin: true
              tty: true
              env:
                HYTALE_AUTO_UPDATE: true
                HYTALE_JAVA_ARGS: -Xms6G -Xmx14G
    resources:
      limits:
        cpu: 4000m
        memory: 16Gi
      requests:
        cpu: 2000m
        memory: 8Gi
    service:
      main:
        externalTrafficPolicy: Local
        loadBalancerIP: ${HYTALE_SERVER_IP}
        type: LoadBalancer

    persistence:
      app:
        type: nfs
        path: /${HYTALE_NFS_PATH}
        server: ${CONFIG_TRUENAS_IP}