apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflareddns
  namespace: cloudflareddns
spec:
  interval: 5m
  chart:
    spec:
      chart: cloudflareddns
      version: 12.14.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    # for now until image is fixed
    image:
      repository: ghcr.io/hotio/cloudflareddns
      pullPolicy: IfNotPresent
      tag: latest@sha256:46ce9b960c0a2610ce305724b726a8a73cf336944e3d598f7a82abaf6bc2ca68
    securityContext:
      container:
        runAsNonRoot: false
        readOnlyRootFilesystem: false
        runAsUser: 0
        runAsGroup: 0
    credentials:
      minio:
        type: s3
        url: "http://${S3_URL}"
        bucket: "${S3_BUCKET}-cloudflareddns"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"
    cloudflareddns:
      api_token: ${CLOUDFLARE_TOKEN}
      host_zone_record:
      - domain: minecraft.${DOMAIN_0}
        record: A
        zone: ${ZONE_0}
      - domain: wireguard.${DOMAIN_1}
        record: A
        zone: ${ZONE_1}
    persistence:
      config:
        volsync:
        - name: config
          type: restic
          credentials: minio
          dest:
            enabled: true
          src:
            enabled: true
            trigger:
              schedule: 10 0 * * *
